<div
  class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4"
>
  <div class="lg:w-10/12 w-full">
    <h2
      class="xl:w-8/12 lg:w-10/12 w-full font-bold text-gray-800 lg:text-4xl text-3xl lg:leading-10 leading-9 mt-2"
    >
      We are here to make great design accessible and delightfull for everyone
    </h2>
    <p class="font-normal text-base leading-6 text-gray-600 mt-6">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum.In the first place we have granted to God, and by this our
      present charter confirmed for us and our heirs forever that the English
      Church shall be free, and shall have her rights entire,
    </p>
  </div>

  <div class="lg:mt-14 sm:mt-10 mt-12">
    <img
      class="lg:block hidden w-full"
      src="https://i.ibb.co/GvwJnvn/Group-736.png"
      alt="Group of people Chilling"
    />
    <img
      class="lg:hidden sm:block hidden w-full"
      src="https://i.ibb.co/5sZTmHq/Rectangle-116.png"
      alt="Group of people Chilling"
    />
    <img
      class="sm:hidden block w-full"
      src="https://i.ibb.co/zSxXJGQ/Rectangle-122.png"
      alt="Group of people Chilling"
    />
  </div>

  <div
    class="lg:mt-16 sm:mt-12 mt-16 flex lg:flex-row justify-between flex-col lg:gap-8 gap-12"
  >
    <div class="w-full xl:w-5/12 lg:w-6/12">
      <h2
        class="font-bold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-80"
      >
        Our Story
      </h2>
      <p class="font-normal text-base leading-6 text-gray-600 mt-4">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum.In the first place we have granted to God, and by this
        our present charter confirmed for us and our heirs forever that the
        English Church shall be free, and shall have her rights entire, and her
        liberties inviolate; and we will that it be thus observed; which is
        apparent from
      </p>
      <p class="font-normal text-base leading-6 text-gray-600 mt-6">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum.In the first place we have granted to God, and by this
        our present charter confirmed for us and our heirs forever that the
        English Church shall be free, and shall have her rights entire, and her
        liberties inviolate; and we will that it be thus observed; which is
        apparent from
      </p>
    </div>
    <div class="lg:flex items-center w-full lg:w-1/2">
      <img
        class="lg:block hidden w-full"
        src="https://i.ibb.co/2kxWpNm/Group-740.png"
        alt="people discussing on board"
      />
      <img
        class="lg:hidden sm:block hidden w-full h-3/4"
        src="https://i.ibb.co/ZLgK3NQ/Group-788.png"
        alt="people discussing on board"
      />
      <img
        class="sm:hidden block w-full"
        src="https://i.ibb.co/9g2R7Xr/Group-803.png"
        alt="people discussing on board"
      />
    </div>
  </div>
</div>
